@import 'scss/normalize.scss';
@import 'scss/fonts.scss';

body {
  background-color: black;
  background-image: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,1) 100%), url(./img/pattern.png), ;
  background-size: cover, 140px 140px;
  background-repeat: repeat, repeat;
  font-family: 'Trebuchet MS', Arial, sans-serif;
  font-weight: 400;
}

.bold {
  font-weight: 700;
}